<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="map_file" default="$(find diffbot_core)/maps/gmapping_best_ramona.yaml"/>
	
	<include file="$(find diffbot_hardware_interface)/launch/diffbot_hardware_init.launch"/>
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
  	</node>
	
	<include file="$(find diffbot_core)/launch/amcl.launch" />
	<include file="$(find diffbot_core)/launch/move_base.launch" />
	<!--<include file="$(find diffbot_rviz)/launch/nav_rviz.launch"/>-->
	
	

</launch>
